/* CSS comment */
 
body {
    background-color: #645aa0;
    color: #ffffff;
    font-size: 20px;
    font-family: georgia;
}

h1 {
    text-align: center;
}

/* Three types of CSS selectors:
    1. HTML tags e.g. h1, p
    2. ID
       -Should only be used once in HTML
       -e.g. "header", "footer" sections
       -use "id" attribute, useable in all HTML tags
       -In CSS, selector starts with "#"
    3. Class
       -Can be used multiple times in HTML
       -example: styling for warning messages,
 
 div OR span, followed immediately by id or class
 */