/* CSS comment */

/* rule 1 */
body {
    background-color: #645aa0;
    color: #ffffff;
    font-size: 20px;
    font-family: georgia;
}

/* rule 2 */
h1 {
    font-size: 32px;
    color: #aaaabc;
    text-align: center;
    font-family: georgia;
}

/* rule 3 */
h2 {
    font-size: 24px;
    color: #d1d1e1;
    font-family: georgia;
    text-align:center;
}

/* rule 4 */
h3 {
    font-size: 24px;
    color: #aaaabc;
    font-family: georgia;
    margin-bottom:-1%;
}

/* rule 5 */
.crawler {
    font-size: 16px;
    color: #dedede;
    font-family: courier;
}

/* rule 6 */
.button {
    display:block;
    background-color: white;
    text-align:center;
}

.imgclass {
    display: block;
    margin: 0 auto;
}